name: pr

on:
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Deps
        run: npm i @cloudflare/wrangler -g

      - name: Build
        run: wrangler build
